.colorContainers {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.circleColor {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    transition: border 0.3s;
}

.circleColor.selected {
    border: 2px solid #C92071;
}